*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    /* color:aliceblue; */
}
html,body{
    height:100%;
    width:100%;
}
.parent{
    min-height: 100vh;
    width:100vw;
    background-color:lab(63.98% 0 -0.01);
    padding:40px 40px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.card{
    height:350px;
    width:300px;
    background-color: #ffff;
    border-radius: 20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .top{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    line-height:10%;
}
.top p{
    padding:2px;
    border:1px solid hsl(0, 1%, 73%);
    font-family: 'Inter', sans-serif;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.top img{
    height:40px;
    width:40px;
    border-radius: 50%;
}
.top button{
    size:45px;
    padding:5px 5px;
    background-color: #ffff;
    border:1px solid #dadada;
    border-radius:5px;
}

.center{
    padding:30px 0;
}
.card h3{
  font-family: 'Roboto', sans-serif;
}
span{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #c2c1c1;
}
.center h2{
    font-size:20px;
    font-family: 'Inter', sans-serif;
}
.center .center02{
    display: flex;
    gap:10px;
    margin-top:8px;
}
.center .center02 h4{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    background-color: hsl(0, 0%, 90%);
    padding:5px 8px;
    border-radius: 5px;
    font-weight: 500;
}
.bottom{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dadada;
    padding:15px;
    font-family: 'Segoe UI', sans-serif;
}
.bottom p{
    font-family:'Segoe UI', sans-serif;
    font-size: 12px;
    color: hsl(0, 1%, 65%);
}
.bottom button{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #ffff;
    background-color: black;
    padding:10px 8px;
    border:none;
    border-radius:10px;


}
